In [87]:
import pandas as pd

In [88]:
data=pd.read_excel('MFA Model Dataset (1).xlsx')
data.head()

,Healthy,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,BRB,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,BRB+BH,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,Index,30.90,89.60,300.20,SPEED,NaN,Index,30.90,89.60,300.20,...,30.90,89.60,300.20,SPEED,NaN,Index,30.90,89.60,300.20,SPEED
1,1,-40.62,-42.34,-33.29,1765,NaN,1,-57.66,-59.10,-95.87,...,-49.84,-51.53,-39.00,1765,NaN,1,-47.06,-48.37,-31.05,1765
2,2,-40.42,-41.76,-35.27,1765,NaN,2,-57.34,-58.28,-84.34,...,-49.83,-49.58,-38.27,1765,NaN,2,-47.51,-48.37,-31.12,1765
3,3,-40.12,-41.77,-34.03,1765,NaN,3,-61.84,-63.13,-78.42,...,-49.32,-51.45,-37.91,1765,NaN,3,-47.66,-49.27,-30.19,1765
4,4,-40.49,-41.48,-32.83,1765,NaN,4,-64.98,-60.54,-85.11,...,-50.28,-51.40,-37.60,1765,NaN,4,-47.31,-48.10,-31.92,1765

In [89]:
data1=dict(data)

In [90]:
data.dropna(axis=0)
data.head()

,Healthy,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,BRB,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,BRB+BH,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,Index,30.90,89.60,300.20,SPEED,NaN,Index,30.90,89.60,300.20,...,30.90,89.60,300.20,SPEED,NaN,Index,30.90,89.60,300.20,SPEED
1,1,-40.62,-42.34,-33.29,1765,NaN,1,-57.66,-59.10,-95.87,...,-49.84,-51.53,-39.00,1765,NaN,1,-47.06,-48.37,-31.05,1765
2,2,-40.42,-41.76,-35.27,1765,NaN,2,-57.34,-58.28,-84.34,...,-49.83,-49.58,-38.27,1765,NaN,2,-47.51,-48.37,-31.12,1765
3,3,-40.12,-41.77,-34.03,1765,NaN,3,-61.84,-63.13,-78.42,...,-49.32,-51.45,-37.91,1765,NaN,3,-47.66,-49.27,-30.19,1765
4,4,-40.49,-41.48,-32.83,1765,NaN,4,-64.98,-60.54,-85.11,...,-50.28,-51.40,-37.60,1765,NaN,4,-47.31,-48.10,-31.92,1765

In [91]:
data.rename(columns=data.iloc[0],inplace=True)

In [92]:
num_cols = 5 
reshaped_data = []

for i in range(0, data.shape[1], num_cols):  
    chunk = data.iloc[:, i:i+num_cols].copy()  
    chunk["label"] = f"Set-{i//num_cols + 1}" 
    reshaped_data.append(chunk)


final_df = pd.concat(reshaped_data, ignore_index=True)

In [93]:
final_df.head()

   Index   30.9   89.6   300.2  SPEED  label  NaN  NaN  NaN  NaN  NaN
0  Index  30.90  89.60  300.20  SPEED  Set-1  NaN  NaN  NaN  NaN  NaN
1      1 -40.62 -42.34  -33.29   1765  Set-1  NaN  NaN  NaN  NaN  NaN
2      2 -40.42 -41.76  -35.27   1765  Set-1  NaN  NaN  NaN  NaN  NaN
3      3 -40.12 -41.77  -34.03   1765  Set-1  NaN  NaN  NaN  NaN  NaN
4      4 -40.49 -41.48  -32.83   1765  Set-1  NaN  NaN  NaN  NaN  NaN

In [94]:
len(final_df)

1127

In [95]:
final_df = final_df[final_df['Index'] != 'Index']
final_df=final_df[final_df['SPEED'] != 'SPEED']

In [96]:
len(final_df)

1120

In [97]:
# final_df.dropna(axis=1,inplace=True)
# final_df.head()

In [98]:
final=final_df.iloc[:,:6]

In [99]:
final.head()

  Index   30.9   89.6  300.2 SPEED  label
1     1 -40.62 -42.34 -33.29  1765  Set-1
2     2 -40.42 -41.76 -35.27  1765  Set-1
3     3 -40.12 -41.77 -34.03  1765  Set-1
4     4 -40.49 -41.48 -32.83  1765  Set-1
5     5 -40.17 -41.52 -34.50  1765  Set-1

In [100]:
final['label'].unique()

array(['Set-1', 'Set-2', 'Set-3', 'Set-4', 'Set-5', 'Set-6', 'Set-7'],
      dtype=object)

In [101]:
dictionary={
    'Set-1':"Healthy",
    'Set-2':"BRB",
    'Set-3':"Sratch",
    'Set-4':'BRB+BS',
    'Set-5':'BH',
    'Set-6':'BRB+BH',
    'Set-7':"DUMMY"

}
dict1={
  "Healthy":1,
"BRB":2,
"Sratch":3,
'BRB+BS':4,
'BH':5,
'BRB+BH':6 ,
'DUMMY':7
}

In [102]:
final['label']=final['label'].apply(lambda x:dictionary[x])
final['encoded']=final['label'].apply(lambda x:dict1[x])

In [103]:
final.head()

  Index   30.9   89.6  300.2 SPEED    label  encoded
1     1 -40.62 -42.34 -33.29  1765  Healthy        1
2     2 -40.42 -41.76 -35.27  1765  Healthy        1
3     3 -40.12 -41.77 -34.03  1765  Healthy        1
4     4 -40.49 -41.48 -32.83  1765  Healthy        1
5     5 -40.17 -41.52 -34.50  1765  Healthy        1

In [104]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [105]:
model=SVC()
dataxy=final.drop(['label'],axis=1)
dataxy.head()

  Index   30.9   89.6  300.2 SPEED  encoded
1     1 -40.62 -42.34 -33.29  1765        1
2     2 -40.42 -41.76 -35.27  1765        1
3     3 -40.12 -41.77 -34.03  1765        1
4     4 -40.49 -41.48 -32.83  1765        1
5     5 -40.17 -41.52 -34.50  1765        1

In [121]:
dataxy.dropna(axis=0,inplace=True)

In [122]:
x = dataxy.drop(['encoded', 'Index'], axis=1)
  # Ensure these column names exist

# Rename columns
x.columns = ['a', 'b', 'c', 'speed']
y = pd.DataFrame(dataxy['encoded'],columns=(['encoded']))

In [123]:
x.dropna(axis=0,inplace=True)
x.head()

       a      b      c speed
1 -40.62 -42.34 -33.29  1765
2 -40.42 -41.76 -35.27  1765
3 -40.12 -41.77 -34.03  1765
4 -40.49 -41.48 -32.83  1765
5 -40.17 -41.52 -34.50  1765

In [124]:
x['c'].dtype

dtype('float64')

In [125]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [126]:
x_train.head()

          a      b      c speed
1052 -41.39 -43.36 -30.76  1775
92   -38.05 -40.24 -35.45  1775
1024 -44.96 -48.41 -33.83  1770
86   -38.23 -40.86 -34.08  1775
1070 -40.62 -42.76 -31.14  1775

In [127]:
model.fit(x_train,y_train)

c:\Users\Vasantha Raj\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [128]:
pred=model.predict(x_test)

In [129]:
print(accuracy_score(pred,y_test))

0.484375

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()

1.0

c:\Users\Vasantha Raj\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [131]:
model1.fit(x_train,y_train)
pred1=model1.predict(x_test)
print(accuracy_score(pred1,y_test))

1.0

c:\Users\Vasantha Raj\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [134]:
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()

In [135]:
model2.fit(x_train,y_train)
pred2=model1.predict(x_test)
print(accuracy_score(pred2,y_test))

1.0